@(indexes:Array[Int])

<!DOCTYPE html>

<html>
<head lang="en">
    <meta name="referrer" content="no-referrer">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<p>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <a href="/sessions">sessions</a>
</p>

<h1>Tick all the beagles:</h1>

<form action="matches" method="POST">
    @for(idx <- indexes) {
      <div>
        <input name="sent" value="@idx" type="hidden" />
        <input name="beagle" value="@idx" type="checkbox" />
        <img src="@model.Captcha.getPhoto(idx)" style="max-width: 400px; max-height: 200px;" />
      </div>
    }

    <!--
      TODO: For each index in the array, show a checkbox with the value of the index, and the relevant img
    -->
    <button type="submit">Submit</button>
</form>

</body>
</html>